.footer {
    background-color: rgb(95, 180, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.footer p {
    font-size: 1.1rem;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}